/* ENTRYPOINT: Import split CSS files for global project styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Consolidated Imports === */
@import './styles/theme.css';
@import './styles/components.css';
@import './styles/overrides.css';

/* Transitions on theme, color, etc */
.theme-transitioning * {
  transition-duration: 0.29s !important;
  transition-property: background-color, color, border-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.38, 0, 0.2, 1) !important;
}
